@if(config && config.color && borderColor && textColor){
    <div class="flex flex-col gap-4 border-2 border-solid {{borderColor}}
        py-4 px-5 rounded-[25px] bg-white">
    
        <div class="flex justify-between items-center">
            <p class="text-2xl {{textColor}} font-bold">{{config.name}}</p>
            <p class="text-2xl {{textColor}} ml-4">{{config.budget | currency:'':'symbol':'1.2-2'}} Orçamento Limite</p>
          </div>
    
     
          <div class="progress-bar w-full h-4 appearance-none border-none rounded-[100vmax]
          overflow-hidden relative
          bg-gray-300
      ">
      </div>


      <div class="btn m-auto text-white w-fit border-none" [ngClass]="isDelete ? 'bg-red-500' : 'bg-blue-500'">
        {{ isDelete ? 'Deletar orçamento' : 'Ver Detalhes' }}
      </div>
      
    
    </div>  
    }