/* Container dos botões */
.buttons-container {
    display: flex;
    gap: 16px; /* Espaço entre os botões */
    justify-content: center; /* Centraliza os botões */
    margin-top: 12px;
}

/* Estilos dos botões */
.btn {
    padding: 12px 20px;
    font-size: 19px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

/* Botão de Login */
.btn-primary {
    background-color: #1f2937; /* Cor do botão principal */
    color: white;
}

.btn-primary:hover {
    background-color: #111827; /* Tom mais escuro ao passar o mouse */
}

/* Botão de Criar Conta */
.btn-secondary {
    background-color: #e5e7eb; /* Cor cinza */
    color: black;
}

.btn-secondary:hover {
    background-color: #d1d5db;
}
