<div class="create-account-container flex p-6 w-full h-full justify-center items-center">
    <div class="container flex gap-8 h-fit">
        <div [formGroup]="accountForm" class="left-section flex flex-col flex-1 gap-y-4">
            <h1 class="text-[60px] font-bold">
                Tenha controle do <span class="text-customHsl-accent">seu dinheiro</span>
            </h1>
            <p class="text-2xl">
                Comece sua jornada hoje na sua plataforma pessoal de controle de gastos.
            </p>

            <!-- Campo para o nome do usuário -->
            <input formControlName="name" class="input-select" type="text" placeholder="Nome">

            <!-- Campo para o email do usuário -->
            <input formControlName="email" class="input-select" type="email" placeholder="Email" required>

            <!-- Campo para a senha do usuário -->
            <input formControlName="password" class="input-select" type="password" placeholder="Senha" required>

            <!-- Botões lado a lado -->
            <div class="buttons-container">
                <button [disabled]="successMessage !== ''" (click)="createAccount()" 
                    class="btn btn-primary">
                    {{ successMessage ? successMessage : 'Criar conta' }}
                </button>

                <button (click)="goToLogin()" class="btn btn-secondary">
                    Já tenho login
                </button>
            </div>
        </div>
    </div>

    <div class="right-section flex-5">
        <img src="assets/controle-gastos.png" alt="controle de gastos">
    </div>
</div>
